<h1 mat-dialog-title>Add Employee Form</h1>

<div mat-dialog-content>
    <form [formGroup]="employeeForm">
        <mat-form-field appearance="fill">
            <mat-label>Id</mat-label>
            <input formControlName="id" matInput>
        </mat-form-field>
    
        <mat-form-field appearance="fill">
            <mat-label>Login</mat-label>
            <input formControlName="login" matInput>
        </mat-form-field>
    
        <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input formControlName="name" matInput>
        </mat-form-field>
    
        <mat-form-field appearance="fill">
            <mat-label>Salary</mat-label>
            <input formControlName="salary" matInput type="number">
        </mat-form-field>
    </form>
</div>

<div mat-dialog-actions [align]="'end'">
    <button mat-raised-button color="warn" mat-dialog-close>Cancel</button>
    <button mat-raised-button color="primary" mat-dialog-close (click)="addEmployee()">{{actionBtn}}</button>
</div>
