table {
    width: 100%;
}
  
.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
}

.container{
    margin: 0 auto;
}

.input{
    margin-right: 5px;
}

.input-container{
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
}

.spacer{
    flex: 1 1 auto;
}
  