
<div class="input-container">

  <label style="color: #3f50b5;">Filter</label><br>

  <!-- minimum salary -->
  <input #minSalaryInput
    class="input"
    type = "number" 
    placeholder="Minimum Salary" 
    (input)="onMinSalaryInput(minSalaryInput.value)"
  />

  <!-- maximum salary -->
  <input #maxSalaryInput
    class="input"
    type = "number" 
    placeholder="Maximum Salary" 
    (input)="onMaxSalaryInput(maxSalaryInput.value)"
  />

  <!-- sort order -->
  <select class="input" #order (change)="onOrderSelect(order.value)">
    <option value="">Select an order</option>
    <option *ngFor="let option of orderOption" [value]="option">{{ option }}</option>
  </select>

  <!-- sort value -->
  <select class="input" #sortValue (change)="onSortSelect(sortValue.value)">
    <option value="">Select sort option</option>
    <option *ngFor="let option of sortOptions" [value]="option">{{ option }}</option>
  </select>
  
  <button (click)="onFilterClick()" style="background-color: #3f50b5; color: aliceblue;">Filter</button>

</div>

<div class="input-container">
  <label style="color: #3f50b5;">Upload emplyeee csv file</label><br>
  <input class="form-control" type="file" name="test"
          (change)="onChange($event)" style="color: #3f50b5;">

  <button (click)="onUpload()" 
      class="btn btn-success" style="background-color: #3f50b5; color: aliceblue;">
      Upload
  </button>
    
  <button mat-raised-button color="warn" style="float: right;" (click)="openDialog()">Add Employee</button>

</div>

<div class ="container">

    <div style="margin-top: 10px; margin-left: 10px; margin-right: 10px;">
        

          <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" matSort>
          
              <!-- ID Column -->
              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                <td mat-cell *matCellDef="let row"> {{row.id}} </td>
              </ng-container>
          
              <!-- Login Column -->
              <ng-container matColumnDef="login">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Login </th>
                <td mat-cell *matCellDef="let row"> {{row.login}} </td>
              </ng-container>
          
              <!-- Name Column -->
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                <td mat-cell *matCellDef="let row"> {{row.name}} </td>
              </ng-container>
          
              <!-- Salary Column -->
              <ng-container matColumnDef="salary">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Salary </th>
                <td mat-cell *matCellDef="let row"> {{row.salary | currency}} </td>
              </ng-container>

              <!-- Action Column -->
              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                <td mat-cell *matCellDef="let row"> 
                  <button mat-icon-button color="primary" (click)="editEmployee(row)">
                    <mat-icon>edit</mat-icon>
                  </button>
                  <button mat-icon-button color="warn" (click)="deleteEmployee(row.id)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </td>
              </ng-container>
          
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          

            </table>
          
            <mat-paginator #paginator
               class="demo-paginator"
               (page)="handlePageEvent($event)"
               [length]="length"
               [pageSize]="pageSize"
               [disabled]="disabled"
               [showFirstLastButtons]="showFirstLastButtons"
               [hidePageSize]="hidePageSize"
               [pageIndex]="pageIndex"
               aria-label="Select page">
            </mat-paginator>
          
          
    </div>
</div>